@font-face {
    font-family: 'TT Travels';
    src: 
        url('../fonts/TTTravels/TTTravels-Light.woff2') format('woff2'),
        url('../fonts/TTTravels/TTTravels-Light.woff') format('woff'), 
        url('../fonts/TTTravels/TTTravels-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Travels';
    src: 
        url('../fonts/TTTravels/TTTravels-Regular.woff2') format('woff2'),
        url('../fonts/TTTravels/TTTravels-Regular.woff') format('woff'), 
        url('../fonts/TTTravels/TTTravels-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Travels';
    src: 
        url('../fonts/TTTravels/TTTravels-Medium.woff2') format('woff2'),
        url('../fonts/TTTravels/TTTravels-Medium.woff') format('woff'), 
        url('../fonts/TTTravels/TTTravels-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Travels';
    src: 
        url('../fonts/TTTravels/TTTravels-DemiBold.woff2') format('woff2'),
        url('../fonts/TTTravels/TTTravels-DemiBold.woff') format('woff'), 
        url('../fonts/TTTravels/TTTravels-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TT Travels';
    src: 
        url('../fonts/TTTravels/TTTravels-Bold.woff2') format('woff2'),
        url('../fonts/TTTravels/TTTravels-Bold.woff') format('woff'), 
        url('../fonts/TTTravels/TTTravels-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}